---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Card } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <section class="my-24">
    <div class="container">
      <h1 class="text-center text-6xl md:text-left">nop33 <span class="text-neutral-500">on the web</span></h1>
      <p class="text-center text-5xl md:text-left">Ilias Trichopoulos <span class="text-neutral-500">irl</span></p>
      <p class="mt-4 text-center text-2xl text-neutral-500 md:text-left">
        Software engineer with focus on <span class="text-primary-500 font-bold">frontend</span>,<br /> minimalist, and life-long
        learner.
      </p>
    </div>
  </section>
  <section class="my-24">
    <div class="container">
      <h2 class="text-center text-4xl md:text-left">About me</h2>
      <p class="text-center text-2xl text-neutral-500 md:text-left">
        I went online in 2001. For the past 14 years I've been building on the web alongside talented designers and
        engineers who have raised my standards of what building good software means.
      </p>
    </div>
  </section>
  <section class="my-24">
    <div class="container">
      <h2 class="mb-6 text-center text-4xl md:text-left">Projects</h2>
      <p class="mb-6 text-center text-2xl text-neutral-500 md:text-left">
        There is always a project in the works, whether professional or personal, and an endless list of ideas. Here are
        some of the projects I've spent most of my time on and am most proud of.
      </p>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Card url={'/portfolio/alephium-desktop-wallet'} headingLevel="h3" title="Alephium Desktop Wallet">
          Electron React app for securely storing and managing assets on the Alephium blockchain.
        </Card>
        <Card url={'/portfolio/alephium-mobile-wallet'} headingLevel="h3" title="Alephium Mobile Wallet">
          React Native mobile app for securely storing and managing assets on the Alephium blockchain.
        </Card>
        <Card url={'/portfolio/flatwise'} headingLevel="h3" title="Flatwise">
          A web app that fairly redistributes furniture costs when flatmates move in or out, using depreciation instead
          of an awkward conversation. Built with Vue.js & Material UI. Used in a real Zurich flatshare since 2019.
        </Card>
      </div>
    </div>
  </section>
</DefaultLayout>
