---
/**
 * BreakoutSection Component
 *
 * @description A component for displaying conte that breaks out of the container
 */
---

<section class="mx-0 md:-mx-5 lg:-mx-30 xl:-mx-64">
  <slot />
</section>
