---
import { Link } from 'accessible-astro-components'
---

<Link href="/" class="flex items-center gap-2">
  <!-- <Image src={logo} alt="Accessible Astro Logo" width="47" height="37" loading={loading} /> -->
  <span class="font-bold">Ilias Trichopoulos</span>
</Link>
